<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 配置List和Map类型的Bean -->
    <util:list id="listbeanID">
      <value>admin</value>
    </util:list>
    <util:map id="mapBeanID">
      <entry key="ik" value="mmp"/>
      <entry key="ik1" value="mmp"/>
    </util:map>


  <!--<bean id="threadpool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">-->
    <!--<property name="corePoolSize" value="1"/>-->
    <!--<property name="maxPoolSize" value="2"/>-->
    <!--<property name="keepAliveSeconds" value="60"/>-->
    <!--<property name="queueCapacity" value="10"/>-->
  <!--</bean>-->

</beans>